# EditorConfig is awesome: https://EditorConfig.org

root = true

# Apply for all files
[*]
charset = utf-8

indent_style = space
indent_size = 2

#换行符的类型。lf, cr, crlf三种
end_of_line = lf
#是否文件以一个空白行结尾
insert_final_newline = true
#是否将尾行空格删除
trim_trailing_whitespace = true


[*.json]
indent_size = 4
